<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~atc4cy/tasuite/phase1/rest/
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
